/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

body {
  padding: 10px;
}


.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
  text-align: center;
}

.watchList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.watchListColumn{
  width: 15em;
}

.watchListNumericColumn {
  text-align: center;
  width:8em;
}
.facebook-like {
	text-align: "right"
}
.MainDockLayoutPanel {
	border: "solid 2px"
}
.facebook-comment {
 border: 0px;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}
.imageSingle {
border-style: solid;
border-width: medium;
border-color: #6ac47d;//#8ae429;
}
.imageButton {
 cursor: pointer;
}